@font-face {
  font-family: Inter;
  src: url("../../../public/inter.ttf");
}

@font-face {
  font-family: JockeyOne;
  src: url("../../../public/JockeyOne-Regular.ttf");
}

.cover-image {
  width: 300px;
  height: 180px;
  border-radius: 12px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  justify-content: center;
}
* {
  font-family: Inter;
}
.restaurant-card {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.name-review-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: rgb(99, 59, 99);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 4px;
}

.wube-cards {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}

.wube-cards img {
  flex-shrink: 0;
  width: auto;
  height: 300px;
  overflow-x: clip;
  object-fit: cover;
}

.wubeAdText {
  font-family: JockeyOne;
  font-size: 30px;
  text-align: center;
  margin-left: 300px;
  margin-right: 56px;
  z-index: 1;
}

.restaurant-card-container {
  text-decoration: none;
  color: black;
}
