.sign-up-con {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 500px;
}
.label-item {
    padding-right: 5px;
    padding-bottom: 5px;

}
input {
    width: 100%;
}


.errors {
    color: red;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

.sign-up-btn:hover {
    cursor: pointer;
}

.sign-up-btn:disabled:hover {
    border-style: solid;
    cursor: not-allowed;
    border: 3px 3px red;
    border-color: red;
}