.menu-form-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-form-h1 {
    color: rgb(99, 59, 99);
    font-size: 50px;
}

.menu-item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-errors {
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

.menu-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 15px;
}

.menu-form input {
    background-color: rgb(34, 36, 38);
    border-color: transparent;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
    color: lightgrey;
    font-size: 15px;
    
}

input:hover {
    border-color: lightgray;
    border: 3px 3px lightgray;
    border-style: solid;
}

.menu-name {
    padding-left: 3px;
}

.catagories-con {
    display: flex;
    flex-direction: column;
   
}

.select-field {
    color: rgb(232, 230, 227);
    border-color: rgb(51, 56, 58);
    background-color: rgb(31, 33, 35);
    width: 175px;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    padding: 3px;
}

.select-field:hover {
    border-style: solid;
    border: 3px 3px lightgray;
    cursor: pointer;
    border-color: lightgray;
}

.image_url-input {
    width: 600px;
}

.btn-con {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}



.menu-submit {
    height: 50px;
    width: 400px;
    background-color: rgb(31, 33, 35);
    color: white;
    border-radius: 12px;
}

.menu-submit:hover {
    border-style: solid;
    border: 3px 3px lightgray;
    cursor: pointer;
    border-color: lightgray;
}

.menu-submit:disabled:hover {
    border-style: solid;
    border: 3px 3px red;
    cursor: not-allowed;
    border-color: red;
    
}




.delete-form-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 350px;
    align-items: center;
    background-color: #ede8f5;
    border-radius: 12px;
    padding: 25px;
}
.delete-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-warning {
    text-align: center;

}

.warning-message  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.warning {
    text-align: center;
}

.last-warning {
    padding-top: 25px;
    font-weight: 500;
    font-size: larger;
    color: red;
    text-align: center;
}

.button-delete-con {
    display: flex;
    gap: 15px;
}

.no-btn-del {
    background-color: black;
    width: 200px;
    height: 55px;
    color: white;
    border-radius: 12px;
}

.yes-btn-delete {
    background-color: #af0909;
    width: 200px;
    height: 55px;
    color: white;
    border-radius: 12px;

}

.yes-btn-delete:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px red;
}

.no-btn-del:hover {
    cursor: pointer;
}

